<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="{{ titulo }}">
    <meta property="og:description" content="{{ descricao }}">
    <meta property="og:image" content="{{ imagem_url }}">
    <meta property="og:url" content="{{ url_redirecionamento }}">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Redireciona após exibir os metadados -->
    <meta http-equiv="refresh" content="1; url={{ url_redirecionamento }}">
    <title>{{ titulo }}</title>
</head>
<body>
    <p>Redirecionando para o conteúdo...</p>
</body>
</html>
