<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="{{ titulo }}">
    <meta property="og:description" content="{{ descricao }}">
    <meta property="og:image" content="{{ imagem }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url_destino }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta http-equiv="refresh" content="5;url={{ url_destino }}">
    <title>{{ titulo }}</title>
</head>
<body>
    <p>Redirecionando para o site...</p>
</body>
</html>