<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <!-- Metadados Open Graph -->
    <meta property="og:title" content="{{ titulo }}">
    <meta property="og:description" content="{{ descricao }}">
    <meta property="og:image" content="{{ imagem }}">
    <meta property="og:type" content="{{ tipo }}">
    <meta property="og:url" content="{{ url_real }}">

    <meta http-equiv="refresh" content="5;url={{ url_destino }}">
    <title>{{ titulo }}</title>
</head>
<body>
    <p>Redirecionando em instantes...</p>
</body>
</html>
